

.dfs {
  background-color: red;
}

 body {
  font-family: "Instagram Sans";
 }

.title {
  font-family: "Instagram Sans Headline";
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background-image {
  background-image: url('/src/images/bgimage.png');
  background-size: cover;
  background-repeat: no-repeat;
 }

 
 

.read-the-docs {
  color: #888;
}

@keyframes spin-reverse {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

 

::-webkit-scrollbar-thumb {
   border-radius: 100px;
}

.truncate-multiline-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Inter;
  }


.line-spacing {
  line-height: 1.5;  
}

 

.black {
  background-color: #000000; /* or any other black color value */
}

.transparent {
  background-color: transparent;
}

/* Default styles for the navigation bar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
  background-color: transparent; /* Initial background color */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Change background color when scrolled */
.navbar:scrolled {
  background-color: black; /* Change to desired background color */
}

 
.spin-reverse {
  animation: spin-reverse 3s linear infinite; /* Adjust duration and other properties as needed */
}
